/*========================================================================
DEFAULT VALUES:

Font Family : Roboto Condensed

Greenish Blue : #34c6d3 (Buttons, Icons, Links, & Background)
Steel Gray : #41464b (Heading)
Blue Bayoux : #64707b (Paragraphs)
white : #fff (Text with Black Backgrounds)
Black : #000





========================================================================== */

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* CSS - Just for Grid Examples */
.col-1 { background-color: red}
.col-2 { background-color: green}
.col-3 { background-color: blue}
.col-4 { background-color: yellow}
